* {
    font-family: Mononoki Nerd Font;
    font-size: 60;
}

slider {
    all: unset;
}

.powerbut {
    color: #a7c080;
    border-color: #2b3339;
}

.restartbut {
    color: #ddbc7f;
    border-color: #2b3339;
}

.logoutbut {
    color: #d699b6;
    border-color: #2b3339;
}

.closebut {
    color: #e67e80;
    border-color: #2b3339;
}

.logoutlabel {
    font-size: 30;
}

.restartlabel {
    font-size: 30;
}

.powerlabel {
    font-size: 30;
}

.byebye {
    color: #7fbbb3;
    font-size: 80;
}

.closelabel {
    font-size: 30;
}

.cal {
    font-size: 15;
    &.highlight {
        color: #7fbbb3;
    }
}

calendar:selected {
    color: #d699b6
}

calendar.header {
    color: #a7c080;
}

.callabel {
    font-size: 15;
}

.calxlabel {
    font-size: 15;
}

.volumebar scale trough {
    all: unset;
    background-color: #575c66;
    border-radius: 16px;
    min-height: 20px;
    margin-right: 5px;
    margin-left: 5px;
}

.volumebar scale trough highlight {
    all: unset;
    border-radius: 16px;
    background-color: #a7c080;
}

.memorybar scale trough {
    all: unset;
    background-color: #575c66;
    border-radius: 16px;
    min-height: 20px;
    margin-right: 5px;
    margin-left: 5px;
}

.memorybar scale trough highlight {
    all: unset;
    border-radius: 16px;
    background-color: #e76e80;
}

.brightnessbar scale trough {
    all: unset;
    background-color: #575c66;
    border-radius: 16px;
    min-height: 20px;
    margin-right: 5px;
    margin-left: 5px;
}

.brightnessbar scale trough highlight {
    all: unset;
    border-radius: 16px;
    background-color: #ddbc7f;
}

.volumeicon {
    font-size: 15;
    color: #a7c080;
    margin: 0px;
}

.memoryicon {
    font-size: 15;
    color: #e76e80;
    margin: 0px;
}

.brightnessicon {
    font-size: 15;
    color: #ddbc7f;
    margin: 0px;
}
