* {
    all: unset;
}

.bar {
    background-color: #2b3339;
    color: #d3c6aa;
    padding: 10px;
}

.power-button {
    background-color: #575c66;
    color: #d699b6;
    font-family: Fira Code Nerd Font; 
    font-size: 13;
}
