* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif, Mononoki Nerd Font;
    font-size: 10px;
}

window#waybar {
    background-color: rgba(26, 27, 38, 0.9);
    color: #1a1b26;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#tags {
    margin-top: 2px;
	margin-left: 6px;
	font-size: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	background: #1a1b26;
	transition: none;
}

#window {
    color: #a9b1d6;
    margin-top: 4px;
    font-size: 13px;
    margin-left: 7px;
}

#window.focused {
    color: #a9b1d6;
    margin-top: 4px;
    font-size: 13px;
    margin-left: 7px;
}

#tags button {
    padding: 0 5px;
    background-color: #1a1b26;
    color: #a9b1d6;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each workspace name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#tags button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -3px #1a1b26;
}

#tags button.occupied {
    color: #f7768e;
    background: transparent;
}

#tags button.focused {
    background-color: rgba(0, 0, 0, 0);
    color: #7aa2f7;
    box-shadow: inset 0 -3px #1a1b26;
}

#workspaces {
    padding: 0 5px;
    margin-top: 2px;
	margin-bottom: 0px;
	border-radius: 10px;
	background: #1a1b26;
	transition: none;
}

#workspaces button {
    padding: 0 3px;
    background-color: #1a1b26;
    color: #a9b1d6;
    border: none;
    border-radius: 30;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);

}

#workspaces button.active {
    box-shadow: inset 0 -3px #1a1b26;
    color: #7aa2f7;
}

#custom-clock,
#custom-calendar,
#custom-storage,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#custom-power,
#mpd {
    padding: 0 10px;
    color: #ffffff;
    border-radius: 20px;
    margin-top: 2px;
    font-size: 10px;
    margin-right: 5px;
}

#custom-power {
    margin-left: 5px;
}

#custom-clock {
    background-color: #292e42; 
    color: #449dab;
}

#custom-storage {
    background-color: #292e42;
    color: #ad8ee6;
}

#custom-calendar {
    background-color: #292e42; 
    color: #f7768e;
}

#battery {
    background-color: #292e42; 
    color: #9ece6a;
}

#battery.charging, #battery.plugged {
    color: #9ece6a;
    background-color: #292e42; 
}

@keyframes blink {
    to {
        background-color: #292e42;
        color: #292e42;
    }
}

#battery.critical:not(.charging) {
    background-color: #292e42; 
    color: #9ece6a;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #292e42;
}

#cpu {
    background-color: #292e42; 
    color: #7aa2f7;
}

#memory {
    background-color: #292e42; 
    color: #449dab;
}

#pulseaudio {
    background-color: #292e42; 
    color: #f7768e;
}

#pulseaudio.muted {
    background-color: #292e42; 
    color: #f7768e;
}

#custom-power {
    background-color: #292e42;
    color: #ad8ee6;
}

#temperature {
    background-color: #292e42; 
    color: #e0af68;
}

#temperature.critical {
    background-color: #292e42; 
    color: #e0af68;
}

